<template>
  <div class="columns is-mobile">
    <div class="column has-text-centered">
      <b-field :label="$t('views.groups.select-group')">
        <b-select
          :placeholder="$t('views.groups.select-group')"
          v-model="selectedGroup"
          expanded
        >
          <option v-for="group in groups" :value="group.id" :key="group.id">
            <span>{{ group.title }}</span>
          </option>
        </b-select>
      </b-field>

      <b-button
        type="is-primary"
        :disabled="!selectedGroup"
        @click="selectGroup"
      >
        <span>{{ $t('common.buttons.go') }}</span>
      </b-button>
    </div>
  </div>
</template>

<script>
import { QuestionService } from '../services';

export default {
  name: 'Groups',
  data() {
    return {
      selectedGroup: null,
      groups: [],
    };
  },
  methods: {
    selectGroup() {
      this.$router.push({
        name: 'questions.index',
        query: { groupId: this.selectedGroup },
      });
    },
  },
  async mounted() {
    this.groups = await QuestionService.getGroups();
  },
};
</script>

<style scoped></style>
