<template>
  <div class="container">
    <div class="columns is-mobile">
      <div class="column">
        <b-button
          class="is-danger is-light"
          @click="$router.push({ name: 'groups.index' })"
        >
          <span>{{ $t('views.questions.buttons.back-to-groups') }}</span>
        </b-button>
      </div>

      <div class="column has-text-centered is-size-4">
        <span>{{ questionIndex + 1 }}/{{ questions.length }}</span>
      </div>

      <div class="column has-text-right">
        <b-button
          v-if="!isAnswered"
          class="is-primary is-light"
          @click="confirm"
          :disabled="!isChosen"
        >
          <span>{{ $t('views.questions.buttons.confirm') }}</span>
        </b-button>

        <b-button
          v-else-if="!isFinished"
          class="is-primary is-light"
          @click="next"
        >
          <span>{{ $t('views.questions.buttons.next') }}</span>
        </b-button>

        <b-button v-else class="is-primary is-light" @click="result">
          <span> {{ $t('views.questions.buttons.result') }}</span>
        </b-button>
      </div>
    </div>

    <question
      :question="questions[questionIndex]"
      :is-confirmed="isConfirmed"
      @answer="answer"
      @choose="choose"
    />
  </div>
</template>

<script>
import { QuestionService } from '../services';

import Question from '../components/Question';
import Result from '../components/Result';

export default {
  name: 'Questions',
  components: { Question },
  computed: {
    groupId() {
      return this.$route.query.groupId;
    },
    isFinished() {
      return this.questionIndex + 1 >= this.questions.length;
    },
  },
  data() {
    return {
      questionIndex: 0,
      isAnswered: false,
      isChosen: false,
      isConfirmed: false,
      correctCount: 0,
      questions: [],
    };
  },
  mounted() {
    this.initialize();
  },
  methods: {
    async fetchQuestions() {
      this.questions = await QuestionService.getQuestionsByGroupId(
        this.groupId
      );
    },
    async initialize() {
      await this.fetchQuestions();

      this.questionIndex = 0;
      this.isAnswered = false;
      this.isChosen = false;
      this.isConfirmed = false;
      this.correctCount = 0;
    },
    confirm() {
      if (!this.isChosen) return;

      this.isConfirmed = true;
    },
    choose(choiceId) {
      this.isChosen = true;
    },
    answer(isCorrect) {
      this.isAnswered = true;

      if (isCorrect) {
        this.correctCount++;
      }
    },
    next() {
      this.isChosen = false;
      this.isConfirmed = false;
      this.isAnswered = false;
      this.questionIndex++;
    },
    result() {
      this.$buefy.modal.open({
        hasModalCard: true,
        trapFocus: true,
        parent: this,
        component: Result,
        props: {
          groupId: this.groupId,
          totalQuestions: this.questions.length,
          correctCount: this.correctCount,
        },
        events: {
          restart: this.initialize,
        },
      });
    },
  },
};
</script>

<style scoped></style>
