<template>
  <div class="container">
    <div class="columns is-mobile">
      <div class="column has-text-centered">
        <div class="has-text-weight-bold is-size-5">
          <span>{{ question.title }}</span>
        </div>
      </div>
    </div>
    <div class="columns is-mobile is-multiline">
      <div
        v-for="(choice, index) of question.choices"
        :key="index"
        class="column is-full-mobile is-half-tablet has-text-centered"
      >
        <b-button
          class="choice"
          :class="{
            'is-light':
              choseChoice === choice.id ||
              (isShowCorrectAnswer && question.answerId === choice.id),
            'is-success':
              isShowCorrectAnswer && question.answerId === choice.id,
            'is-danger':
              isShowCorrectAnswer &&
              choseChoice === choice.id &&
              question.answerId !== choice.id,
          }"
          @click="choose(choice.id)"
          expanded
        >
          <span>{{ choice.title }}</span>
        </b-button>
      </div>
    </div>
    <div v-if="isShowCorrectAnswer" class="columns is-mobile is-multiline">
      <div class="column">
        <div
          class="has-background-success-light has-text-success-dark p-4 answer-explanation"
        >
          <div class="has-text-weight-bold mb-3">
            <span>{{ $t('components.question.answer-explanation') }}</span>
          </div>
          <p>{{ question.answerExplanation }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Question',
  props: {
    isConfirmed: {
      type: Boolean,
      default: () => false,
    },
    question: {
      type: Object,
      default: () => ({
        id: 1,
        title: '',
        answerId: 1,
        answerExplanation: '',
        choices: [
          { id: 1, title: '' },
          { id: 2, title: '' },
          { id: 3, title: '' },
          { id: 4, title: '' },
        ],
      }),
    },
  },
  data() {
    return {
      choseChoice: null,
      isShowCorrectAnswer: false,
    };
  },
  methods: {
    choose(choiceId) {
      if (this.isShowCorrectAnswer) return;
      this.choseChoice = choiceId;
      this.$emit('choose', choiceId);
    },
  },
  watch: {
    isConfirmed() {
      if (this.isConfirmed) {
        this.$emit('answer', this.choseChoice === this.question.answerId);
        this.isShowCorrectAnswer = true;
      } else {
        this.isShowCorrectAnswer = false;
        this.choseChoice = null;
      }
    },
  },
};
</script>

<style scoped>
.answer-explanation {
  border-radius: 4px;
}
</style>
