<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ $t('components.result.title') }}</p>
      <button type="button" class="delete" @click="$emit('close')" />
    </header>

    <section class="modal-card-body">
      <p>{{ $t('components.result.total-questions') }}: {{ totalQuestions }}</p>
      <p>{{ $t('components.result.correct-count') }}: {{ correctCount }}</p>
      <p>
        {{ $t('components.result.percentage') }}:
        {{ percentage.toFixed() + '%' }}
      </p>
    </section>

    <footer class="modal-card-foot">
      <b-button class="is-danger is-light" @click="backToGroups">
        <span>{{ $t('components.result.buttons.back-to-groups') }}</span>
      </b-button>

      <b-button class="is-success is-light" @click="restart">
        <span>{{ $t('components.result.buttons.restart') }}</span>
      </b-button>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'Result',
  props: {
    groupId: {
      type: [String, Number],
      required: true,
    },
    totalQuestions: {
      type: Number,
      required: true,
    },
    correctCount: {
      type: Number,
      required: true,
    },
  },
  computed: {
    percentage() {
      return (this.correctCount / this.totalQuestions) * 100;
    },
  },
  methods: {
    backToGroups() {
      this.$emit('close');
      this.$router.push({ name: 'groups.index' });
    },
    restart() {
      this.$emit('restart');
      this.$emit('close');
    },
  },
};
</script>

<style scoped></style>
