<template>
  <div id="app">
    <nav-bar />
    <div class="container px-4">
      <div class="columns is-mobile">
        <div class="column">
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from './components/NavBar';

export default {
  name: 'App',
  components: { NavBar },
};
</script>
